* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #94dc95;
}

.game-header {
  font-family: monospace;
  display: flex;
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 4rem;
  justify-content: space-between;
  align-items: center;
}

.game-introduction {
  font-family: monospace;
  display: grid;
  justify-content: center;
  text-align: center;
}

/* Dino in css */
/* #character {
  height: 40px;
  width: 60px;
  background-color: #4CAF50;
  border-radius: 10px 10px 5px 5px;
  position: absolute;
  bottom: 0;
  left: 50px;
  z-index: 2;
}

#character::before {
  content: '';
  position: absolute;
  top: 8px;
  left: 8px;
  width: 8px;
  height: 8px;
  background-color: white;
  border-radius: 50%;
}

#character::after {
  content: '';
  position: absolute;
  top: 10px;
  left: 11px;
  width: 4px;
  height: 4px;
  background-color: black;
  border-radius: 50%;
} */

/* Dino as a sprite */

#character {
  height: 70px;
  width: 70px;
  position: absolute;
  bottom: 0;
  left: 50px;
  z-index: 2;
}

#character img {
  object-fit: contain;
  width: 100%;
}

#scene {
  position: relative;
  margin: 0 auto;
  border: 1px solid rgb(203, 194, 194);
  height: 240px;
  background-image: url('./assets/dunes.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

main {
  width: 80%;
  height: 30%;
  text-align: center;
  justify-content: center;
  padding-left: 5%;
  padding-right: 5%;
}

#obstacle {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
}

#obstacle img {
  height: 100%;
  object-fit: fill;
}

footer {
  align-items: center;
  font-size: small;
  text-align: center;
  padding-top: 13rem;
  font-size: 1rem;
}

.small-footer {
  display: flex;
  text-align: center;
  justify-content: center;
}
